@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
body {
  font-family: "Montserrat", sans-serif;
  color: #000;
}

h1, h2, h3, p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.wrapper {
  width: 100vw;
  margin: 0 auto;
  background-color: #fff;
}

.docs-reports__container {
  width: 40vw;
  margin: 0 auto;
}

.docs-reports {
  text-align: center;
  margin: 3.3333333333vw auto 9.375vw;
}
.docs-reports__title {
  font-weight: 500;
  font-size: 2.7777777778vw;
  line-height: 120%;
  margin-bottom: 5vw;
  text-align: center;
}
.docs-reports__text {
  font-size: 1.1111111111vw;
  font-weight: 500;
  line-height: 120%;
}
.docs-reports__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.2222222222vw;
  margin: 5vw 0;
}
.docs-reports__details-top-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.2222222222vw;
}
.docs-reports__details-top-left, .docs-reports__details-top-right {
  width: 18.8888888889vw;
  height: 4.7222222222vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0.0694444444vw solid #000;
  border-radius: 1.3888888889vw;
}
.docs-reports__details-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2.2222222222vw;
}
.docs-reports__left-box {
  width: 22.2916666667vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0.0694444444vw solid #000;
  border-radius: 1.3888888889vw;
}
.docs-reports__left-box-img {
  background-image: url("../img/Card.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 30.4166666667vw;
}
.docs-reports__right-box {
  width: 15.4861111111vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.2222222222vw;
}
.docs-reports__top-right-box, .docs-reports__bottom-right-box {
  height: 14.0972222222vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0.0694444444vw solid #000;
  border-radius: 1.3888888889vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.docs-reports__top-right-box-text, .docs-reports__bottom-right-box-text {
  max-width: 12.2222222222vw;
}
.docs-reports__details-bottom-box {
  height: 4.7222222222vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0.0694444444vw solid #000;
  border-radius: 1.3888888889vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.docs-reports__report-box {
  height: 10.8333333333vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0.0694444444vw solid #000;
  border-radius: 1.3888888889vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: left;
  gap: 1.1111111111vw;
  padding: 1.3888888889vw 1.6666666667vw;
}
.docs-reports__report-box-title {
  font-weight: 700;
  font-size: 1.3888888889vw;
  line-height: 120%;
}
.docs-reports__report-description {
  font-weight: 400;
  line-height: 130%;
}
.docs-reports__report-date {
  font-size: 0.9722222222vw;
  line-height: 130%;
}
.docs-reports__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.3888888889vw;
}
.docs-reports__info-text {
  text-align: left;
  width: 16.5277777778vw;
  height: 2.9861111111vw;
  color: #1F1F1F;
}
.docs-reports__info-btn {
  width: 22.0833333333vw;
  height: 2.9861111111vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.8333333333vw 1.5972222222vw;
  border: none;
  background-color: #FFD966;
  cursor: pointer;
}
.docs-reports__info-btn-text {
  color: #1F1F1F;
}