@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

$primary-color: #000;
$text-color: #1F1F1F;
$font-stack: 'Montserrat', sans-serif;

body{
    font-family: $font-stack;
    color: $primary-color;
}
h1, h2, h3, p{
    margin: 0;
}
.wrapper{
    max-width: 1440px;
    margin: 0 auto;
    background-color: #fff;
}
.container{
    max-width: 36rem;
    height: 600px;
    margin: 0 auto;
    background-color: aqua;
}
.docs-reports {
    text-align: center;
    margin: 5rem auto 7.3rem;

    &__title {
    }

    &__text {
    }

    &__details {
    }

    &__details-link {
    }

    &__details-top {
    }

    &__details-box {
    }

    &__left-box {
    }

    &__left-box-title {
    }

    &__left-box-description {
    }

    &__left-box-date {
    }

    &__right-box {
    }

    &__top-right-box {
    }

    &__top-right-box-text {
    }

    &__bottom-right-box {
    }

    &__bottom-right-box-text {
    }

    &__info {
    }

    &__info-text {
    }

    &__info-btn {
    }
}
